<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Series</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
      
    <link rel="stylesheet" href="css/ratchet.min.css">
    <!--<link rel="stylesheet" href="css/ratchet-theme-ios.min.css">-->
    <link rel="stylesheet" href="css/app.css">
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script src="js/ratchet.min.js"></script>
    <script src="js/jquery.min.js"></script>
  </head>
  <body>
    
    <script>
      $(document).ready(function(){
        
        $('.search-top').click(function(){
          if ($(this).hasClass("icon-search")) {
            $('.title-top').hide();
            $('.search_cont').show();
            $(this).removeClass("icon-search").addClass("icon-close");
          }else{
            $('.search_cont').hide();
            $('.title-top').show();           
            $(this).removeClass("icon-close").addClass("icon-search");
          }
          
        });
      });
      function showShearch()
      {
        $(this).parent().find('h1').hide();
        $(this).parent().find('.search_cont').show();
      }
    </script>
    
    <header class="bar bar-nav">
      <a class="icon icon-plus pull-right" href="#settingsModal"></a>
      <a style="margin-right:10px;" class="icon icon-search pull-right search-top" href="javascript:void(0)"></a>
      <h1 style="text-align:left;margin-left: 10px;" class="title title-top">Series</h1>
      <div class="search_cont" hidden style="float: left; width: 100%; padding-right: 70px; margin-top: -42px;">
        <form>
          <input type="search" placeholder="Search">
        </form>
      </div>
    </header>

    

    <div class="content">

      <!--<div class="slider">
        <div class="slide-group">
          <div class="slide">
            <img src="img/argo.png" alt="Argo" width="640" height="300">
          </div>
          <div class="slide">
             <img src="img/skyfall.png" alt="Skyfall" width="640" height="300">
          </div>
          <div class="slide">
             <img src="img/ralph.png" alt="Wreck-It Ralph" width="640" height="300">
          </div>
        </div>
      </div>-->

      <ul style="margin-top:0" class="table-view" id="series_list">
        <!--<li class="table-view-cell table-view-divider">Recommended movies</li>-->
        <script>
          var list = "<% _.each(series, function(serie) { %> <li>"+
          "<li class='table-view-cell media'>"+
          "<a class='navigate-right' href='choose-theater.html' data-transition='slide-in'>"+
            "<img class='media-object pull-left' src='img/la-Riera.jpg'>"+
            "<div class='media-body'>"+
              "<%= serie.name %>"+
              "<p class='serie_desc'><%= serie.description %></p>"+
            "</div>"+
          "</a>"+
        "</li><% }); %>";
        //Example object
          $('#series_list').append(_.template(list,{"series":[{"name": "La Riera", "description": "La Riera &egrave;s la hist&ograve;ria d&rsquo;una fam&iacute;lia que regenta un restaurant en un poble de la costa, no gaire lluny de Barcelona. L&rsquo;acci&oacute; comen&ccedil;a quan el patriarca de la fam&iacute;lia, l&rsquo;Ignasi Guitart, reuneix la seva dona i els seus fills per explicar-los que deixar&agrave; la direcci&oacute; del restaurant i marxar&agrave; de Sant Climent.", "img": "la-Riera.jpg"},{"name": "16 Dobles", "description": "La fam&iacute;lia Bofill ha adquirit l'edifici on vivien els Dalmau de &quot;Temps de silenci&quot;, situat a la pla&ccedil;a del Blat de Barcelona, i l'ha convertit en un hotel amb 16 habitacions dobles, una d'individual i una petita suite.", "img": "16-Dobles.jpg"}]}));
        </script>
        <!--
        <script>          
          var list = "<% _.each(people, function(name) { %> <li><%= name %></li> <% }); %>";
          _.template(list, {people: ['moe', 'curly', 'larry']});
          alert(_.template(list, {people: ['moe', 'curly', 'larry']}));
        </script>
        -->
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              Argo
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              Skyfall: 007
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              Wreck-it Ralph
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              Argo
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              Skyfall: 007
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              Wreck-it Ralph
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              Argo
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              Skyfall: 007
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              Wreck-it Ralph
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </a>
        </li>
      </ul>
    </div><!-- /.content -->

    <!-- Settings modal -->
    <div id="settingsModal" class="modal">
      <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#settingsModal"></a>
        <h1 class="title">Settings</h1>
      </header>

      <div class="content">
        <form class="input-group">
          <input type="text" placeholder="Full name">
          <input type="email" placeholder="Email">
          <input type="text" placeholder="Username">
        </form>

        <h5 class="content-padded">App settings</h5>

        <ul class="table-view">
          <li class="table-view-cell media">
            <span class="media-object pull-left icon icon-sound"></span>
            <div class="media-body">
              Enable sounds
            </div>
            <div class="toggle">
              <div class="toggle-handle"></div>
            </div>
          </li>
          <li class="table-view-cell media">
            <span class="media-object pull-left icon icon-person"></span>
            <div class="media-body">
              Parental controls
            </div>
            <div class="toggle">
              <div class="toggle-handle"></div>
            </div>
          </li>
        </ul>
        <div class="content-padded">
          <button class="btn btn-positive btn-block">Save settings</button>
        </div>
      </div>
    </div><!-- /.modal -->
  </body>
</html>
